body {
  background-color: #010101;
  color: #F0F6FC;
  font-family: GeistMono Nerd Font Mono;
}

div.main {
  border: 2px solid #4C2970;
  border-radius: 15px;
}
div.about {
  margin: 5px;
  margin-left: 10px;
}

hr {
  border: 2px solid #4C2970;
  border-radius: 2px;
}

h2, h3, h4, p, hr {
  margin: 2px;
}

a {
  color: #F0F6FC;
}

p.shhh {
  color: #010318;
}