body {
  background-color: #010101;
  color: #F0F6FC;
  font-family: GeistMono Nerd Font Mono;
}

div.main {
  border: 2px solid #4C2970;
  border-radius: 15px;
}

hr {
  border: 2px solid #4C2970;
  border-radius: 2px;
}

h2, p, hr {
  padding: 2px;
}
