body {
  background: linear-gradient(135deg, #1E1E2F, #4E54C8);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #F0F6FC;
  font-family: GeistMono Nerd Font Mono;
}

.main {
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 2px solid rgb(76, 41, 112);
  border-radius: 15px;
  padding: 15px;
}

hr {
  border: 1px solid #ffffff;
  border-radius: 2px;
  margin: 5px 0 5px 0;
}

ol {
  margin: 10px 0 10px 0;
}

h2, h3, h4, p {
  margin: 2px;
}

a {
  color: #F0F6FC;
  text-decoration: none;
  transition: 0.3s;
}
a:hover {
  text-decoration: underline;
}

img {
  /*vertical-align: middle;*/
  display: inline-block;
  vertical-align: -4px;
  height: 1em;
  width: auto;
}

.infobar {
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 2px solid rgb(76, 41, 112);
  border-radius: 15px;
  padding: 8px;
  position: fixed;
  top: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between; 
}

.infobar_pill {
  display: flex;
  align-items: center;
  gap: 5px;
  background: rgba(0, 0, 0, 0.2);
  border: 2px solid rgb(76, 41, 112);
  border-radius: 8px;
  padding: 4px;
}

.label {
  color: #254F8F;
  font-size: 11px;
  font-weight: bold;
}

.value {
  color: #cdd6f4;
  font-size: 13px;
}